$primary-color: #6069e9;
$body-bg-color: #f4f4f4;
$body-font-color: #f4f4f4;
$body-font-family: Helvetica, sans-serif;
$link-color: orange;
$link-color-hover:darken(orange,10);
$link-bg-color:#F99417;
$padding:40px;
$generalDecoration:none;
//note : it seems in old SASS,we can not pass a string as none,now it posiible,and we call it normally
$them:'dark';
$border:true;
$border-radius:10px;


.color2{
    color:red;
}
.color3{
    color:yellow;
}

//i will write a function to determine font color of heading according to background color 
@function heading-color($color) {
    @if(lightness($color)>70)
    {
@return red;
    }
    @else
    {
@return orange
    }
}


//if i need to create a classe with different values
$steps : (1,2,3,4,5);

@each $step in $steps {
    .margin_horizantal-#{$step} {
        margin:#{$step*10}px;
    }
}

@mixin testClass($padd,$col,$dir){
    color:$col;
    padding:$padd;
    text-decoration:$dir;

    &:hover{
        color:lighten($col,10);
    }
}





