@import 'vars';
@import 'global';
@import 'buttons';
//we name it with _ to prevent compiler from compiling file

%fontawesom {
    position: absolute;
    font-size: 50px;
    transform: rotate(-45deg);
}
body{
    height:1000px;
}
.container {
    background-color: $primary-color;
    color: heading-color($primary-color); //check _vars file
    font-family: $body-font-family;
    

    nav {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        position: relative;
        border: 0px solid green;
        box-shadow: 0px 2px 5px 0px black;
        padding-left:50px;

        i {
            display: none;
        }

        ul {
            display: flex;
            list-style-type: none;
            gap: 25px;

        }

        a {
            @include testClass($padding,$link-color,$generalDecoration);
            &:hover {
                //here execute when hove only in a inside nav
                color: $link-color-hover;
            }
        }
        .colors {
            span{
                display: inline-block;
                width:30px;
                height:30px;
                border-radius: 50%;
                margin:20px;
                cursor: pointer;;
                &:nth-child(1){
                    background-color: red;
                }
                &:nth-child(2){
                    background-color: yellow;
                }
                }
        }
    }

    .maincontent {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            width: 100%;
        }

        .content {
            position: relative;

            h2 {
                margin-bottom: 15px;
            }

            p {
                line-height: 1.5;
            }

            .fa-angle-right {
                right: -10px;
                top: -15px;
                @extend %fontawesom;
            }

            .fa-angle-left {
                left: -10px;
                top: 100%;
                @extend %fontawesom;
            }

        }
    }

    .testTheme {
        display: flex;
        align-items: center;
        height:200px;
        justify-content: center;
        gap:40px;
        @if($them=='light'){
            background-color: aqua;
        }
        
        @else{
            background-color: red;
        }
        
        .card {
            display: flex;
            flex-direction: column;
            border:if($border,0px solid white,null);
            box-shadow: 0px 1px 5px 0px black;
            border-radius:if($border,$border-radius,null);
            justify-content: center;
            align-items: center;
            color:white;
            position: relative;
            &:after{
                border-radius:if($border,$border-radius,null);
                position: absolute;
                content:"";
                width:0;
                left:0;
                top:0;
                height:100%;
                background-color: rgba($color: #000000, $alpha: 0.5);
                transition: 0.5s;
            }
            &:hover:after{
                width:100%;
            }

            & p,
            & h2{
            margin:10px
            }
        }
    }
}

//i create @medium as normal cc, the @content mean what do you want to do in ths mixin, i write the content in real time when i call the mixin//
@mixin breakpoints ($points){
    @if( $points==mobile)
    {
        @media (max-width:767px)
        {@content;}
    }
    @else{
        @if($points==small)
        {
            @media (min-width:768px) and (max-width:991px)
            {@content;}
        }
        @else{
            @if($points==medium)
            {
                @media (min-width:992px) and (max-width:1199px)
                {@content;}
            }
            @else
            {
                @if($points==large)
                {
                    @media (min-width:1200px)
                {@content;}
                }
            }
        }
    }

}

/*create class name it media ,then apply all properties to these class when screen width reach mobile size*/
.media { 
 
    @include breakpoints(mobile){
    font-size:10px;
    display: none;
    }
}

//will not show in css file
/*will showen in css file */